cluster: clusterName
# 0 代表轮询 每 30秒请求一次
# 1 代表更新 长轮询 server 自动推送
type: 0
host: http://127.0.0.1:8080
ip: 127.0.0.1
logPath: /path-to-client-log
apps:
  - path: /path-to-project/.env
    appId: app-id
    namespace:
      - application